/* Mobile */
@media screen and (min-width: 360px) and (max-width: 767px) {
  .grid-container {
    min-width: 320px;
    margin: 0 20px;
    grid-template-columns: repeat(4, 65px);
    gap: 20px;
  }
}

/* Tablet Portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    min-width: 704px;
    margin: 0 32px;
    grid-template-columns: repeat(8, 76px);
    gap: 24px;
  }
}

/* Tablet Landscape */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .grid-container {
    min-width: 936px;
    margin: 0 44px;
    grid-template-columns: repeat(12, 56px);
    gap: 24px;
  }
}

/* Desktop Medium */
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .grid-container {
    min-width: 1196px;
    margin: 0 42px;
    grid-template-columns: repeat(12, 74px);
    gap: 28px;
  }
}

/* Desktop Large */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .grid-container {
    min-width: 1288px;
    margin: 0 76px;
    grid-template-columns: repeat(12, 78px);
    gap: 32px;
  }
}

/* Desktop xLarge */
@media screen and (min-width: 1920px) {
  .grid-container {
    min-width: 1744px;
    margin: 0 88px;
    grid-template-columns: repeat(12, 116px);
    gap: 32px;
  }
}

.grid-item {
  grid-column: span 4;
}
